<!-- <app-hello-world></app-hello-world>
<app-page></app-page>
{{counter() }}
<button (click)="increment()"></button>
{{computedSignal()}}

<br/>
<app-welcome-with-name></app-welcome-with-name>
<app-user-info></app-user-info>
<app-user-profile></app-user-profile>

<app-input [firstName]="'Louis'" [lastName]="string" [age]="counter()"></app-input>

<app-output (nameChange)="receiveData($event)"></app-output>
<p>Message recu : {{receiveMessage}}</p> -->

<!-- <app-bidirectionnel [(name)]="userName" [(age)]="currentAge"></app-bidirectionnel>
<p>Nom mis à jour : {{userName}}</p>
<button (click)="incrementAge()">Augmenter l'age - parent</button>
<app-parent-component></app-parent-component> -->
<!-- 
<app-item-list [items]="items">
    <app-bidirectionnel [(name)]="userName" [(age)]="currentAge"></app-bidirectionnel>
</app-item-list> -->
<!-- <app-filtered-item-list [items]="items" [query]="'it'"> -->
<!-- </app-filtered-item-list> -->
<!-- <div>
    <ng-container *ngComponentOutlet="selectedComponent"></ng-container>
</div>

<app-card>
    <app-text></app-text>
</app-card>

<select [(ngModel)]="selected">
    <option [ngValue]="ComposantA">A</option>
    <option [ngValue]="ComposantB">B</option>
    <option [ngValue]="ComposantC">C</option>
</select>
<ng-container *ngComponentOutlet="selected"></ng-container>

<app-modal [component]="selected">
    <h2>Titre</h2>
    <p>Description</p>
</app-modal> -->


<app-button></app-button>
<app-hoverbox></app-hoverbox>
<app-keytracker></app-keytracker>

@if (condition){
    <p>True</p>
} @else {
    <p>False</p>
}

@switch (conditionChiffre) {
    @case (1) {
        <p>1ere option</p>
    } 
    @case (2) {
        <p>2eme option</p>
    }
    @default {
        <p>Valeur par défaut</p>
    }
}

@if(condition || conditionChiffre > 10){
    <p>true</p>
}